body{vertical-align: baseline;}

.niceCheck{float: left;margin-right: 5px;}
.niceCheck.nstcheck{position: relative;top: -2px;width: 18px;height: 19px;background: url("../img/sprite.png") no-repeat;}

.niceCheck{background-position: 0 0;}
.niceCheck.active{background-position: 0 -40px;}

label:hover .niceCheck{background-position: 0 -20px;}
label:hover .niceCheck.active{background-position: 0 -60px;}

.niceCheck.focus, label:active .niceCheck{background-position: 0 -80px;}
.niceCheck.focus.active, label:active .niceCheck.active{background-position: 0 -100px;}

label .niceCheck.disabled{background-position: 0 -120px;}
label .niceCheck.disabled.active{background-position: 0 -140px;}

.nstcheck.niceCheck input{-moz-opacity: 0;-khtml-opacity: 0;opacity: 0;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}/*.nstcheck - add when initialize plugin*/
.b_n.niceCheck{background: none;}